* {
    margin: 0;
    padding: 0;

}
html{
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/hands-holding-sun-ray-and-moon-crescent-minimal-wall-art-lineartstudio.jpg);
    background-size: cover;
font-family: 'Nunito Sans', sans-serif;
}

/* HEADER */
.head-title{
    align-items: center;
    background-image: url(./images/Screenshot\ 2023-01-19\ at\ 8.12.48\ PM.png);
    background-size: cover;
    color: aliceblue;
    display: flex;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    height: 15vh;
    justify-content: center;
    text-shadow: 3px 3px 3px black, 5px 5px 5px rgb(162, 255, 252);
    width: 100vw;
}

/* MAIN BODY */
main{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin-top: 2%;
}

.enter-city {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: 40vw;
}
.date-stats {
    width: 60vw;
}

.city-data {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.city-data h2 {
color: aliceblue;
font-size: 2.8rem;
margin-bottom: 2%;
text-align: center;
text-shadow: 3px 3px 3px black, 3px 3px 10px rgb(162, 255, 252);
font-family: 'Caveat', cursive;

}

#city-input{
    font-size: 1rem;
    height: 30px;
    margin-bottom: 1.7%;
}

.search {
    background-color: rgba(12, 12, 27, 0.853);
    border: 1px solid rgba(151, 151, 151, 0.677);
    box-shadow: 5px 5px 10px black;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    height: 35px;
    width: 30vw;
    margin-bottom: 4%;
}

.search-history{
    background-color: rgba(53, 67, 95, 0.9);
    border: 1px solid rgba(151, 151, 151, 0.677);
    box-shadow: 5px 5px 10px black;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    height: 35px;
    width: 30vw;
    margin-bottom: 2%;
}

.search:hover {
    background-color: rgba(53, 67, 95, 0.9);
}

.search:active{
    background-color: rgba(20, 20, 44, 0.853);
    box-shadow: 0 0 10px white;
}

.history-buttons {
    width: 30vw;
    height: 35px;
    /* border: 2px solid green; */
}

img {
    height: 50px;
    width: 50px;
}
.weather-stats{
    background-color: rgba(53, 67, 95, 0.9);
    border: 1px solid rgb(156, 156, 156);
    border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-left: 1.5%;
    text-shadow: 3px 3px 3px black;
    width: 56vw;
}

.weather-stats p{
    padding: 1% 0 .3% 1.5%;
}


.current-date {
    background-color: rgba(12, 12, 27, 0.853);
    border: 1px solid rgb(156, 156, 156);
    border-radius: 15px 15px 0 0;
    color:white;
  padding-bottom: 10px;
}



.forecast {
    color: aliceblue;
    
    display: flex;
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    justify-content: center;
    text-shadow: 5px 5px 5px black, 5px 5px 5px rgb(162, 255, 252);
}


/* 5 DAY FORECAST */

.five-day-container{
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-evenly;
    width: 58vw;
    
}

.card {
    background-color: rgba(53, 67, 95, 0.9);
    border: 1px solid rgb(156, 156, 156);
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin: 2% 0;
    min-height: 22vh;
    text-shadow: 5px 5px 5px black;
    width: 18vw;
    
}

.date-p {
    background-color: rgba(12, 12, 27, 0.853);
    border-bottom: 1px solid rgb(156, 156, 156);
    border-radius: 15px 15px 0 0;
    color: white;
    padding: 5px 0 5px 0;
    text-align: center;
}

.temp-p,
.wind-p,
.humid-p{
    margin: 5px 0 2px 8px;
}
             


